.content {
  background: linear-gradient(
    to right, 
    #0ed, #ffffff, #0ed
    ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite linear;
}

 @keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 450px;
  }
  100% {
    background-position: 0px;
  }
 }

 .vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(0deg);
}

.filll {
  fill: #ffffff;
  margin-top: 0px;
  padding-bottom: 20px;
  margin-left: 0px;
  cursor: pointer;
  height: 34px;
  width: 34px;
}